@if (environment === 'dev') {
  <div style="background-color: yellow;">
    This is Development Environment
  </div>
} @else if (environment === 'test') {
  <div style="background-color: green;">
    This is Test Environment
  </div>
} @else {
  <div style="background-color: black; color: white;">
    This is Prod Environment
  </div>
}


<app-todo-list></app-todo-list>

<!-- KeyUp Event Handler Example -->
<!-- <input type="text" (keyup)="onKeyUp($event)">
<p>{{ message() }}</p> -->

<router-outlet />
